- name: Open firewall
  include: firewall.yml
  vars:
    port: dns
- name: Configure DNSMASQ
  lineinfile:
    path: /etc/dnsmasq.conf
    line: "{{ item }}"
    mode: u=rw,og=r
    owner: root
    group: dnsmasq
    state: present
    backup: yes
  loop:
    - clear-on-reload
    - log-queries
    - dns-loop-detect
    - stop-dns-rebind
    - rebind-localhost-ok
    - domain-needed
    - no-negcache
    - dnssec
    - dnssec-check-unsigned
    - conf-file=/usr/share/dnsmasq/trust-anchors.conf
    - "hostsdir={{ conf_dir }}/hosts"
    - localise-queries
    - interface=ens192
    - interface=wg-dns-server
    - interface-name=ens192,vpn
    - interface-name=wg-dns-server,wireguard
    - "domain={{ domain }}"
- name: Make sure DNSMASQ is running
  systemd:
    name: dnsmasq
    daemon_reload: yes
    enabled: yes
    state: restarted
